<div class="row">
  <div
    class="col-12 mx-auto text-center d-flex flex-column align-items-center"
    style="color: rgb(0, 173, 241)"
  >
    <h2 style="color: skyblue" class="mt-5 mb-4">Sign Up to Split-It</h2>
    <div class="row">
      <div class="col-8 col-md-2 mx-auto">
        <div
          class="d-flex flex-column text-start"
          style="border: 2px solid skyblue; border-radius: 10px"
        >
          <label
            for="username"
            style="padding: 0px 15px; margin: 15px 0px 5px 0px"
            >User Name</label
          >
          <input
            type="text"
            style="
              border: 2px solid skyblue;
              border-radius: 10px;
              margin: 0px 15px;
            "
          />
          <label for="email" style="padding: 0px 15px; margin: 15px 0px 5px 0px"
            >Email Address</label
          >
          <input
            type="text"
            style="
              border: 2px solid skyblue;
              border-radius: 10px;
              margin: 0px 15px;
            "
          />
          <label
            for="password"
            style="padding: 0px 15px; margin: 15px 0px 5px 0px"
            >Password</label
          >
          <input
            type="password"
            style="
              border: 2px solid skyblue;
              border-radius: 10px;
              margin: 0px 15px;
            "
          />
          <label
            for="password"
            style="padding: 0px 15px; margin: 15px 0px 5px 0px"
            >Confirm Password</label
          >
          <input
            type="password"
            style="
              border: 2px solid skyblue;
              border-radius: 10px;
              margin: 0px 15px;
            "
          />
          <button class="btn btn-primary" style="margin: 15px 15px">
            Sign Up
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8 col-md-2 mx-auto mt-4 mb-3">
        <div
          class="d-flex flex-column text-start"
          style="border: 2px solid skyblue; border-radius: 10px"
        >
          <div class="row m-0" style="width: 100%">
            <div class="col-8 d-flex justify-content-center align-items-center">
              <p style="font-size: 17px" class="mt-2 mb-2">
                Already have an Account?
              </p>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center">
              <button class="btn btn-outline-primary m-0 p-1">
                <a href="" class="hover" style="text-decoration: none"
                  >Sign In</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
