<div class="row m-0">
  <div class="col p-0">
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: skyblue"
    >
      <a class="navbar-brand" [routerLink]="['/home']" style="padding-left: 3%">
        <h1 style="color: #e3f2fd">Split It</h1>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item active">
            <a
              class="nav-link"
              [routerLink]="['/home']"
              routerLinkActive="router-link-active"
              style="color: whitesmoke"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/home']"
              style="color: whitesmoke"
              >Features</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/home']"
              style="color: whitesmoke"
              >Contact Us</a
            >
          </li>
          <li class="nav-item">
            <button class="darkBlueBorder btn-sm p-0 m-1">
              <a
                class="nav-link"
                [routerLink]="['/sign-in']"
                style="color: whitesmoke"
                >Sign In</a
              >
            </button>
          </li>
          <li class="nav-item">
            <button class="darkBlueBorderOutline btn-sm p-0 m-1">
              <a
                class="nav-link"
                [routerLink]="['/sign-up']"
                style="color: #4a93f1"
                >Sign Up</a
              >
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
