<div class="row m-0 mt-2">
  <div class="col-12 text-center">
    <h3 class="darkBlue">Create New Group</h3>
  </div>
</div>
<div class="row m-0 mt-2 mb-2">
  <div class="col-12 text-center" style="width: 500px">
    <input
      placeholder="Enter Group Name"
      style="width: 90%"
      [(ngModel)]="groupName"
    />
  </div>
</div>
<div class="row m-0 mt-2 mb-2">
  <div class="col-12 text-center" style="width: 500px">
    <input
      placeholder="Enter Members names separated with ;"
      style="width: 90%; border: 2px solid grey; border-radius: 10px"
      class="black"
      [(ngModel)]="addUserList"
    />
  </div>
</div>
@if(issueWithInput){
<div class="row m-0 mb-2">
  <div class="col-12 text-center">
    <p style="color: red; font-size: 10px">Please send 1 to 10 names</p>
  </div>
</div>
}
<div class="row m-0 mt-2 mb-2">
  <div class="col-12 text-center">
    <button
      class="darkBlueBorder"
      style="border: 2px solid skyblue; border-radius: 10px"
      (click)="submitAddGroupRequest()"
    >
      Submit Request
    </button>
  </div>
</div>
