<div class="row m-0">
  <div class="col text-center darkBlue" style="width: 400px">
    <h3>All {{ type | uppercase }}</h3>
  </div>
</div>
<div class="row m-0 mt-1">
  <div class="col-10 offset-1 p-0">
    <input
      type="text"
      placeholder="filter"
      style="width: 100%"
      class="p-1 m-0"
      [(ngModel)]="filterValue"
      (ngModelChange)="filterValueMethod($event)"
    />
  </div>
  <div class="d-flex flex-column">
    @for(item of itemsTemp;track item){
    <button
      style="border: none"
      class="mt-2 darkBlue mb-2"
      (click)="emitData(item)"
    >
      {{ item }}
    </button>
    }
  </div>
</div>
