<div class="row m-0 mt-2">
  <div class="col-8 d-flex justify-content-center align-items-center">
    <h4 class="m-0 darkBlue">Add An Expense</h4>
  </div>
  <div class="col-4 text-end p-0 pe-3">
    <button style="border: none" class="darkBlue" mat-dialog-close>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="currentColor"
        class="bi bi-x-circle"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
        />
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
        />
      </svg>
    </button>
  </div>
</div>
<div class="row m-0 mt-4 mb-4">
  <div class="col-6 d-flex align-items-center justify-content-center">
    <button
      mat-button
      style="background-color: #7db3fa; color: white"
      (click)="openGroupDialog()"
    >
      For A Group
    </button>
  </div>
  <div class="col-6 d-flex align-items-center justify-content-center">
    <button
      mat-button
      style="background-color: #7db3fa; color: white"
      (click)="openUserDialog()"
    >
      For Users
    </button>
  </div>
</div>
