.button-cls {
  background-color: #f08080;
  border: 1px solid #f08080;
  border-radius: 10px;
  color: White;
}

.button-cls2 {
  background-color: #46998fc4;
  border: 1px solid #46998fc4;
  border-radius: 10px;
  color: White;
}
