<div class="row mt-2 darkBlue">
  <div class="col coral" style="font-size: 30px">
    <b>{{ friendName | title }}</b>
  </div>
  <div class="col text-end">
    <button class="button-cls m-2 p-1" (click)="openExpenseDialog()">
      Add An Expense</button
    ><button class="button-cls2 m-2 p-1" (click)="openSettleDialog()">
      Settle Up
    </button>
  </div>
</div>
<div class="row mt-2 grey" style="border: 2px solid grey; border-radius: 10px">
  <div
    class="col p-0 d-flex justify-content-center flex-column align-items-center"
    style="border-right: 1px solid grey"
  >
    <h6><b>You Owe</b></h6>
    <p class="m-0 coral">
      <b>{{ youOwe }}</b>
    </p>
  </div>
  <div
    class="col p-0 d-flex justify-content-center flex-column align-items-center"
    style="border-left: 1px solid grey"
  >
    <h6><b>You are Owed</b></h6>
    <p class="m-0 skyblue">
      <b>{{ youOwed }}</b>
    </p>
  </div>
</div>
<div class="row mt-4 grey">
  <div class="col-12 d-flex flex-column p-0">
    @for(transaction of friendTransaction;track transaction){
    <app-transaction
      class="m-0 mt-1 mb-1"
      [transaction]="transaction"
      style="border: 2px solid grey; border-radius: 10px"
    ></app-transaction
    >}@empty {
    <p>No transactions</p>
    }
  </div>
</div>
