<div class="row mt-2 skyblue">
  <div class="col" style="font-size: 30px">{{ friendName }}</div>
  <div class="col text-end">
    <button class="btn btn-primary m-2 p-1" (click)="openExpenseDialog()">
      Add An Expense</button
    ><button class="btn btn-primary m-2 p-1" (click)="openSettleDialog()">
      Settle Up
    </button>
  </div>
</div>
<div class="row mt-2 grey" style="border: 2px solid grey; border-radius: 10px">
  <div
    class="col p-0 d-flex justify-content-center flex-column align-items-center"
    style="border-right: 1px solid grey"
  >
    <h6>You Owe</h6>
    <p class="m-0 skyblue">{{ youOwe }}</p>
  </div>
  <div
    class="col p-0 d-flex justify-content-center flex-column align-items-center"
    style="border-left: 1px solid grey"
  >
    <h6>You are Owed</h6>
    <p class="m-0 skyblue">{{ youOwed }}</p>
  </div>
</div>
<div class="row mt-4 grey">
  <div class="col-12 d-flex flex-column p-0">
    @for(transaction of friendTransaction;track transaction){
    <app-transaction
      class="m-0 mt-1 mb-1"
      [transaction]="transaction"
      style="border: 2px solid grey; border-radius: 10px"
    ></app-transaction
    >}@empty {
    <p>No transactions</p>
    }
  </div>
</div>
