<app-user-list [users]="users" [secondaryType]="secondaryType"></app-user-list>
<div class="row m-0 mt-2 mb-2">
  <div class="col-12 text-center">
    <button
      style="width: 90%"
      [ngClass]="{
        darkBlueBorderOutline: this.showList,
        noHighLight: !this.showList
      }"
      (click)="showMultiPeople()"
    >
      Multiple People
    </button>
  </div>
</div>
@if(showList){
<div class="row m-0 mt-2 mb-2 skyblue">
  <div class="col-4 text-center">
    <button
      [ngClass]="{
        highlight: by == 'percentage',
        noHighLight: by != 'percentage'
      }"
      (click)="highlight('percentage')"
    >
      Percentage
    </button>
  </div>
  <div class="col-4 text-center" (click)="highlight('unequal')">
    <button
      [ngClass]="{
        highlight: by == 'unequal',
        noHighLight: by != 'unequal'
      }"
    >
      Unequally
    </button>
  </div>
  <div class="col-4 text-center" (click)="highlight('equal')">
    <button
      [ngClass]="{ highlight: by == 'equal', noHighLight: by != 'equal' }"
    >
      Equally
    </button>
  </div>
</div>
@if(by!='equal'){
<div class="row m-0 mt-2 mb-2 skyblue">
  <div class="col-10 offset-1 p-0">
    @for(user of payee;track user){
    <p class="mx-auto m-0 p-0">{{ user.name }}</p>
    <input
      class="mx-auto m-0 darkBlueBorderOutline"
      type="text"
      [placeholder]="user.amount"
      style="width: 70%"
      [(ngModel)]="user.amount"
    />
    }
  </div>
</div>

}@else {
<div class="row m-0 mt-2 mb-2 skyblue">
  <div class="col-10 offset-1 p-0">
    @for(user of payee;track user){
    <div class="row m-0">
      <div class="col-12 d-flex align-items-center p-0">
        <input
          [(ngModel)]="user.selected"
          class="m-1 stylish-checkbox"
          type="checkbox"
          [name]="user.name"
          [value]="user.name"
        />
        <label class="m-1" [for]="user.name">{{ user.name }}</label>
      </div>
    </div>
    }
  </div>
</div>
}
<div class="row m-0 mt-2 mb-2 skyblue">
  <div class="col-12 d-flex justify-content-center align-items-center">
    <button type="submit" (click)="submitPayee()" class="coralBorderOutline">
      Confirm
    </button>
  </div>
</div>
}
