<div class="row m-0">
  <div class="col d-flex text-center justify-content-end align-items-center">
    <div>
      <h1 style="color: black">
        Less stress when sharing<br />
        expenses <b style="color: rgb(19, 180, 244)">with anyone</b> or <br /><b
          style="color: rgb(19, 180, 244)"
          >any scenario</b
        >.
      </h1>
      <br />
      <h5 style="color: black">Now more than Ever</h5>
      <button class="btn btn-outline-primary m-5">Sign Up Now</button>
    </div>
  </div>
  <div class="col d-flex align-items-center justify-content-start p-5">
    <img src="favicon.ico" width="50%" />
  </div>
</div>
