<div class="row m-0 mt-2">
  <div class="col-12 text-center"><h3 class="darkBlue">Add Friends</h3></div>
</div>
<div class="row m-0 mt-2 mb-2">
  <div class="col-12 text-center" style="width: 500px">
    <input
      placeholder="Enter multiple names separated with ;"
      style="width: 90%"
      [(ngModel)]="addFriendString"
    />
  </div>
</div>
@if(issueWithInput){
<div class="row m-0 mb-2">
  <div class="col-12 text-center">
    <p style="color: red; font-size: 10px">Please send 1 to 10 names</p>
  </div>
</div>
}
<div class="row m-0 mt-2 mb-2">
  <div class="col-12 text-center">
    <button class="darkBlueBorder" (click)="submitAddFriendRequest()">
      Submit Request
    </button>
  </div>
</div>
