<div class="row">
  <div class="col-2 col-md-2 offset-md-2 d-flex flex-column">
    <a [routerLink]="['/dashboard']" routerLinkActive="active" class="m-1"
      >Dashboard</a
    >
    <!-- <a class="m-1">Notifications</a> -->
    <div class="m-1" style="border: 2px solid grey; border-radius: 5px">
      <svg
        style="width: 10%"
        xmlns="http://www.w3.org/2000/svg"
        width="50%"
        height="50%"
        fill="grey"
        class="bi bi-search"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
        />
      </svg>
      <input
        type="text"
        placeholder="filter"
        style="
          width: 90%;
          border-left: 1px solid grey;
          border-right: 0;
          border-top: 0;
          border-bottom: 0;
        "
        [(ngModel)]="filterValue"
        (ngModelChange)="onValueChange($event)"
        class="p-1 m-0"
      />
    </div>
    <a class="m-1" [routerLink]="['/all']" routerLinkActive="active"
      >All Transactions</a
    >
    <div class="row m-0 mb-2 mt-2">
      <div class="col-6 skyblue">Groups</div>
      <div class="col-6 text-end pe-2">
        <button
          style="border: none"
          class="m-0 p-0 grey"
          (click)="openAddNewGroup()"
        >
          +add
        </button>
      </div>
      @for(group of groupsTemp;track group){
      <div class="d-flex align-items-center">
        <a
          class="m-1"
          [routerLink]="['/group/', group.group_name]"
          routerLinkActive="active"
          ><img src="people.svg" />{{ group.group_name }}</a
        >
      </div>
      }
    </div>
    <div class="row m-0 mt-2 mb-2">
      <div class="col-6 skyblue">Friends</div>
      <div class="col-6 text-end pe-2">
        <button
          style="border: none"
          class="m-0 p-0 grey"
          (click)="openAddFriend()"
        >
          +add
        </button>
      </div>
      @for(friend of friendsTemp;track friend){
      <div class="d-flex align-items-center">
        <a
          class="m-1"
          [routerLink]="['/friend/' + friend]"
          routerLinkActive="active"
          ><img src="person-fill.svg" />{{ friend }}</a
        >
      </div>

      }
    </div>
  </div>
  <div class="col-8 col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
