<div
  class="row m-0"
  (click)="onClick()"
  [ngClass]="openTab ? 'borderBlue' : 'border2px'"
>
  <div class="col-8 d-flex flex-column justify-content-around">
    <h4 class="m-0 darkBlue">
      Desc:
      <span class="grey">{{ transaction.description }}</span>
    </h4>
    <p class="m-0 mt-2">
      {{ transaction.date_time }}
    </p>
  </div>
  <div class="col-4 d-flex flex-column justify-content-around">
    <div>
      You Owe:<b class="coral">{{ transaction.you_owe }}</b>
    </div>
    <div>
      You Are Owed: <b class="skyblue">{{ transaction.you_owed }}</b>
    </div>
  </div>
</div>
@if(openTab){

<div
  class="row m-0 mt-1 mb-1"
  style="
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    border-radius: 10px;
  "
>
  <div class="col-6 m-0">
    @for(pay of transaction.paid_by | keyvalue ; track pay.key){
    <p>
      <span class="skyblue"
        ><b>{{ pay.key | title }}</b></span
      >
      paid amount
      <span class="skyblue"
        ><b>{{ pay.value }}</b></span
      >
    </p>
    }@empty {
    <p>No one paid anything</p>
    }
  </div>
  <div class="col-6 m-0 text-end">
    @for(pay of transaction.paid_for | keyvalue ; track pay.key){
    <p>
      <span class="skyblue"
        ><b>{{ pay.key | title }}</b></span
      >
      took amount
      <span class="skyblue"
        ><b>{{ pay.value }}</b></span
      >
    </p>
    }@empty {
    <p>No one took anything</p>
    }
  </div>
</div>

}
