<div class="row text-center m-0" style="min-height: 100px">
  <div class="col d-flex flex-column justify-content-between">
    <div>
      <h2>Track Expenses</h2>
      <p>
        Track all your expenses efficiently for better financial management.
      </p>
    </div>
    <div class="mt-auto pb-5">
      <img
        src="App.png"
        width="50%"
        alt="Track Photo"
        style="display: block; margin: 0 auto"
      />
    </div>
  </div>
  <div class="col d-flex flex-column justify-content-between">
    <div>
      <h2>Different Scenarios</h2>
      <p>
        It simplifies sharing and settling expenses for trips, roommates,<br />
        couples, teams, friends, events, and more, ensuring fairness and<br />
        transparency in every scenario.
      </p>
    </div>
    <div class="mt-auto pb-5">
      <img
        src="App2.png"
        width="50%"
        alt="Different Scenarios"
        style="display: block; margin: 0 auto"
      />
    </div>
  </div>
</div>
<div class="row text-center m-0" style="min-height: 100px">
  <div class="col d-flex flex-column justify-content-between">
    <div>
      <h2>Pay It Back</h2>
      <p>
        Pay the amount however you like,<br />
        whenever you prefer.
      </p>
    </div>
    <div class="mt-auto pb-5">
      <img src="Pay.png" width="50%" alt="Pay It Back" />
    </div>
  </div>
  <div class="col d-flex flex-column justify-content-between">
    <div>
      <h2>Summarize</h2>
      <p>
        Summarize the expenses, generate reports <br />
        Do it all with Free Tier.
      </p>
    </div>
    <div class="mt-auto pb-5">
      <img src="Graph.png" width="50%" alt="Summarize" />
    </div>
  </div>
</div>
