/* You can add global styles to this file, and also import other style files */
.bg-color {
  background-color: #e3f2fd;
}

.row {
  width: 100% !important;
}

.white {
  color: white;
}

.black {
  color: black;
}

.skyblue {
  color: skyblue;
}

.grey {
  color: grey;
}

.border {
  border: 2px solid grey;
  border-radius: 10px;
}

.theme-color1 {
  color: #f08080;
}
