/* You can add global styles to this file, and also import other style files */
.bg-color {
  background-color: #e3f2fd;
}

.row {
  width: 100% !important;
}

.white {
  color: white;
}

.black {
  color: black;
}

.skyblue {
  color: skyblue;
}

.grey {
  color: grey;
}

.border2px {
  border: 2px solid grey;
  border-radius: 10px;
}

.coral {
  color: #f08080;
}
.teal {
  color: #46998fc4;
}
.darkBlue {
  color: #7db3fa;
}
