<div class="row mt-2 skyblue">
  <div class="col" style="font-size: 30px">All Transactions</div>
  <div class="col text-end">
    <button class="btn btn-primary m-2 p-1" (click)="openExpenseDialog()">
      Add An Expense</button
    ><button class="btn btn-primary m-2 p-1" (click)="openSettleDialog()">
      Settle Up
    </button>
  </div>
</div>
<div class="row mt-2 grey border">
  <div
    class="col border p-0 d-flex justify-content-center flex-column align-items-center"
  >
    <h6>You Owe</h6>
    <p class="m-0 skyblue">{{ youOwe }}</p>
  </div>
  <div
    class="col border p-0 d-flex justify-content-center flex-column align-items-center"
  >
    <h6>You are Owed</h6>
    <p class="m-0 skyblue">{{ youOwed }}</p>
  </div>
</div>
<div class="row mt-4 grey">
  <div class="col-12 d-flex flex-column p-0">
    @for(transaction of allTransaction;track transaction){
    <app-transaction
      class="m-0 mt-1 mb-1 border"
      [transaction]="transaction"
    ></app-transaction
    >}@empty {
    <p>No transactions</p>
    }
  </div>
</div>
